.grid{
  width: 400px;
  margin: 0 auto;
}
.cell{
  cursor: pointer;
  border: 2px solid;
  font-size: 72px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(400px / 3);
  height: calc(400px / 3);
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}